github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "danielrhodes/Swift-ActionCableClient"
github "daltoniam/starscream" == 2.0.1
github "gilesvangruisen/Swift-YouTube-Player"
github "Alamofire/AlamofireImage" ~> 3.3
github "xmartlabs/XLPagerTabStrip" ~> 8.0
github "malcommac/ScrollingStackContainer" ~> 0.5
